[submodule ".registry"]
	path = .registry
	url = https://github.com/gadenbuie/universe
	shallow = true
	branch = HEAD
[submodule "metathis"]
	path = metathis
	url = https://github.com/gadenbuie/metathis
	shallow = true
[submodule "starwarsdb"]
	path = starwarsdb
	url = https://github.com/gadenbuie/starwarsdb
	shallow = true
[submodule "xaringanthemer"]
	path = xaringanthemer
	url = https://github.com/gadenbuie/xaringanthemer
	shallow = true
